version: '3.8'

services:
  web: &app
    build:
      context: .
    image: spotlight
    stdin_open: true
    tty: true
    env_file:
      - .env
    environment:
      - VIRTUAL_PORT=3000
      - VIRTUAL_HOST=spotlight.test
    ports:
      - 3000:3000
    volumes:
      - .:/app/spotlight:cached
      - node:/app/spotlight/node_modules
      - assets:/app/spotlight/public/assets
      - cache:/app/spotlight/tmp/cache
    networks:
      internal:

  redis:
    image: bitnami/redis:6.2
    command: redis-server --protected-mode no --stop-writes-on-bgsave-error no
    volumes:
      - redis:/data
    networks:
      internal:

volumes:
  redis:
  node:
  assets:
  cache:

networks:
  internal:
