RAILS_LOG_TO_STDOUT="true"
POSTGRES_HOST=postgres
POSTGRES_USER=spotlight_user
POSTGRES_PASSWORD=spotlight_password
REDIS_HOST=redis
SOLR_PORT=8983
SOLR_HOST=solr
SOLR_URL=http://solr:8983/solr/spotlight
APP_HOST=spotlight.test
