POSTGRES_HOST=postgres
POSTGRES_USER=spotlight_user
POSTGRES_PASSWORD=spotlight_password
REDIS_HOST=redis
SOLR_PORT=8983
SOLR_HOST=solr
SOLR_URL=http://solr:8983/solr/spotlight
APP_HOST=spotlight.test

SMTP_ADDRESS=
SMTP_DOMAIN=
SMTP_PORT=
SMTP_ENABLED='true'
SMTP_FROM_EMAIL=

RAILS_LOG_TO_STDOUT=""