// @import 'harvard-bootstrap';

//styles the title text in the hero
.masthead.image-masthead {
  .exhibit-navbar {
    background: none;
  }
  .background-container {
    border-right: none;
    filter: none;
    background-position: center;
  }

  h1.site-title.h1, h1 + small {
    color: $white;
    margin-bottom: 0;
    padding: 0 !important;
  }

  // make background same size, with or without a subtitle
  .site-title-container {
    min-height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;

    .site-title-wrapper {
      margin-top: 0;
      padding-bottom: 0;
    }
  }
}

.nav-link {
  font-size: 14px;
  letter-spacing: 2px;
}

#exhibit-navbar {
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1450px;

  .exhibit-nav-items {
    background-color: rgba(0, 0, 0, .6);
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-nav {
    padding-left: 20px;
    padding-right: 20px;
  }
  .nav-item {
    padding: 5px 30px;
    line-height: 1em;
    @media (max-width: breakpoint-max("sm")) {
      padding: 5px 0;
    }
  }
  .nav-link {
    text-transform: uppercase;
    color: $white;
    padding: 0;
    border-bottom: 3px solid transparent;
    display: inline;
  }
  .nav-item.active .nav-link, 
  .nav-link:hover, 
  .nav-link:focus {
    border-bottom-color: $white;
  }
  .dropdown-menu {
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0;
    box-shadow: none;

    li {
      padding-left: 20px;
      padding-top: 10px;
    }

    @media (min-width: breakpoint-min("lg")) {
      background-color: rgba(0, 0, 0, .6);
      margin-top: 19px;
      padding: 20px 30px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      li {
        padding: 0;
        &:not(:last-of-type) {
          margin-bottom: 20px;
        }
      } 
    }

    .dropdown-item {
      color: $white;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 2px;
      padding: 0;
      border-bottom: 3px solid transparent;
      border-radius: 0;
      display: inline;
      &:hover, &:focus {
        background-color: transparent;
        border-color: $white;
      }
    }
  }
}

.exhibit-search-form-wrapper{
  @media (max-width: breakpoint-max("sm")) {
    align-self: start;
    .exhibit-search-form {
      padding-top: 10px;
    }
  }
  .exhibit-search-form {
    input {
      padding: 10px 12px;
      height: 38px;
      border-color: $white;
      border-top-left-radius: 4px !important;
      border-bottom-left-radius: 4px !important;
    }

    button#search {
      padding: 6px 12px 6px 0;
      background: $white;
      border: none;
      &::before {
        content: "";
        padding-left: 12px;
        border-left: 1px solid $black;
      }
      &::after {
        border-bottom: 0.425em solid transparent;
        border-left: 0.5em solid currentColor;
        border-top: 0.425em solid transparent;
        content: "";
        display: inline-block;
        height: 0;
        width: 0;
        margin-left: 0.3em;
        background-image: none;
        padding-right: 0;
      }
      &:hover, &:focus {
        color: $gray-600;
      }
    }
    .fulltext-helper-text {
      color: $white;
      font-family: $f-trueno;
      font-size: smaller;
      position: absolute;
      padding: 10px 20px;
      right: 20px;
      width: 359px;

      @media (min-width: breakpoint-min("lg")) {
        background: rgba(0,0,0,.6);
        margin-top: 16px;
      }
      @media (max-width: breakpoint-max("sm")) {
        background: rgba(0,0,0,.6);
        margin-top: 16px;
        left: 20px;
        width: auto;
        max-width: 359px;
      }

      input {
        height: auto;
      }
    }
  }
}

#content {
  li {
    padding-left: 20px;
    &::marker {
      color: $red;
      font-size: 1.2em;
    }
  }
  .tab-content li {
    padding-left: 0;
  }
}

.blacklight-home_pages {
  .items-block .items-col .box {
    margin-top: -3rem;
  }

  .openseadragon-container {
    .controls {
      display: flex;
      justify-content: flex-end;
      padding: 0;
    }
  }
  .openseadragon-canvas {
    border: 1px solid $gray-300 !important;
  }
}
