// overrides modal width and word-breaks the title
#blacklight-modal {
  .modal-dialog {
    width: 80%;
  }
  .modal-header {
    .modal-title {
      word-break: break-word;
    }
    button.close span {
      top: -3.5px;
      right: 3px;
    }
  }
  .modal-body pre {
    display: none;
  }
}

@media (min-width: 992px) {
  .modal-lg, .modal-xl {
    max-width: 90%;
  }
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 90%;
  }
}

.reindexingHistory, .pageHistory, .updatedItems {
  table.table-striped {
    td {
      word-wrap: break-word;
      font-size: smaller;
    }
  }
}
