@import 'harvard-bootstrap';

.blacklight-catalog-index {
  #main-container #appliedParams{
    display: flex;
    .catalog_startOverLink {
      border: 1px solid $gray-500;
      border-radius: 4px;
      background-color: $gray-100;
      padding: 5px 9px;
      font-size: 14px;
      &:hover {
        border: 1px solid $gray-500;
      }
    }
    .btn-group.applied-filter.constraint {
      border: 1px solid $gray-500;
      border-radius: 4px;
      padding-right: 5px;
      background-color: $gray-100;
      margin: 0 8px 0 0 !important;
      .constraint-value {
        color: $gray-600;
        background: transparent;
        margin: 0;
        .filter-name::after {
          padding-left: 1px;
          padding-right: 4px;
          color: $gray-600;
        }
      }
      .btn-outline-secondary {
        display: flex;
        align-items: center;
        border: 0;
        &:hover {
          border: 0;
        }
        .remove-icon {
          transform: scale(.75);
        }
      }
    }
  }
  .documents-list .document-position-1 {
    margin-top: 15px;
    padding-top: 1rem;
  }
}

#documents {
  .blacklight-exhibit_tags {
    a {
      border-bottom: 0;
    }
  }

  .document-counter {
    display: none;
  }

  &.documents-list .document .document-thumbnail {
    padding-left: 0;
    float: none;
    margin-bottom: 1rem;
    img {
      max-width: unset;
      width: 180px;
      height: 180px;
      object-fit: cover;
    }
  }

  .documentHeader {
    .document-title-heading {
      text-transform: unset;
      margin-bottom: 10px;
      a {
        letter-spacing: 1px;
        font-size: 18px;
      }
    }
  }

  .dl-invert {
    font-size: 14px;
    dt {
      text-align: unset;
      font-family: 'Trueno';
      text-transform: uppercase;
      letter-spacing: 1.5px;
      color: $black;
      font-weight: 600;
    }
  }

  .document-metadata {
    .search-results-col {
      overflow-wrap: break-word;
      .fts-dt {
        font-size: 14px;
        line-height: 1.2;
      }
    }
  }
}

#sortAndPerPage.sort-pagination {
  .curator-actions, .view-type, .per_page-dropdown {
    margin: 0 !important;
    .btn-secondary {
      margin-top: 0;
      margin-bottom: 0;
    }
    .bulk-actions-dropdown {
      display: flex; 
      margin-left: 5px;
    }
    .bulk-actions-dropdown .btn-secondary, #save-this-search {
      border: 1px solid $gray-500;
      padding: 3px 7px;
              color: $gray-800;
      &:hover, &.active, &:active, &:focus {
        background-color: transparent;
        border: 1px solid $gray-500;
        color: $gray-800;
        box-shadow: none;
      }
    }
  }
  .curator-actions {
    margin-bottom: 4px !important;
    align-items: center;
  }
  .search-widgets {
    width: unset;
    min-width: unset;
    @media (min-width: 781px) {
      min-width: unset;
      width: 100%;
    }
    .view-type {
      display: flex;
    }
    .per_page-dropdown, .view-type-group {
      margin: 0;
      .btn, button {
        border: 1px solid $gray-500;
        margin: 0;
        line-height: 17px;
      }
      button {
        color: $gray-800;
        text-decoration: none;
        background: transparent;
        padding: 5px 10px;
        &:hover, &:focus {
          background-color: transparent;
          border: 1px solid $gray-500;
          color: $gray-800;
          box-shadow: none;
        }
      }
    }
    .view-type-group {
      margin-left: 5px;
      .btn {
        padding: 1.5px 7px;
        color: $gray-800;
        svg {
          transform: scale(.8);
        }
        &:hover {
          background-color: $gray-200;
        }
        &.active, &:active {
          background-color: $gray-600;
          border-color: $gray-600;
          color: $gray-200;
        }
      }
    }
  }
}

.search-term-hint {
  margin-bottom: 1em;
}

.search-banner {
  text-align: center;
}

.breadcrumb {
  display: none;
}

#document_pagination.load-more {
  text-align: center;
}
