@import 'harvard-bootstrap';

//styles the title text in the hero
.masthead.image-masthead {
  .background-container {
    border-right: none;
    filter: none;
    background-position: center;
  }
  .site-title.h1, small {
    text-shadow: 1px 1px 0 $black;
    color: $white;
    font-family: "Trueno", sans-serif;
    font-style: unset;
    font-weight: 700;
  }
  .site-title-container .site-title.h1 {
    font-size: 40px;
    line-height: 45px;
    @media (max-width: 991px) {
      font-size: 25px;
      line-height: 30px;
    }
  }
}

.nav-link {
  font-size: 14px;
  letter-spacing: 2px;
}

#exhibit-navbar {
  background-color: $teal;
  padding: 0;
  width: 97%;
  max-width: 1450px;
  .navbar-nav {
    width: 100%;
  }
  .nav-link {
    text-transform: uppercase;
    color: $white;
    padding: 8px 40px;
    border-bottom: 0;
  }
  .dropdown-menu {
    background-color: $teal;
    border: 0;
    .dropdown-item {
      color: $white;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 2px;
      &:hover {
        background-color: $darkteal;
      }
    }
  }
}

#exhibit-navbar {
  margin-left: auto;
  margin-right: auto;
}

.exhibit-search-form-wrapper{
  width: 100%;
  background-color: $darkteal;
  .exhibit-search-form {
    position: relative;
    padding: 10px 55px;
    button#search {
      padding: 6px 12px;
    }
    .search-query-form {
      width: 100%;
    }
    @media (max-width: 1199px) {
      padding: 10px 55px 10px 10px;
    }
    @media (max-width: 991px) {
      padding: 10px 35px;
    }
  }
}

.page-sidebar {
  .facets {
    background-color: $gray-100;
    padding-bottom: 10px;
    .facets-header {
      background-color: $white;
      .facets-heading {
        font-weight: 700;
        font-size: 17px;
        padding: 0px 10px;
      }
    }
    #facet-panel-collapse {
      padding: 0 25px;
      margin: 0;
    }
  }
  @media (max-width: 991px) {
    .facets {
      background-color: transparent;
    }
  }
  .card {
    &.facet-limit-active {
      .card-header {
        background-color: transparent !important;
      }
    }
    &.facet-limit {
      background-color: transparent;
      border: 0;
      .card-header {
        background-color: transparent;
        border-bottom: 0;
        border-top: 1px solid $gray-500;
        &:first-child {
          border-radius: 0;
        }
        .btn {
          padding: 25px 0 25px 0 !important;
          font-size: 14px;
        }
        .btn::after {
          color: $red;
        }

      }
      .card-body {
        padding: 1rem 0;
        a {
          color: $black;
          font-weight: 400;
        }
        .facet-values.list-unstyled {
          .facet-count {
            font-family: 'Trueno';
          }
          .facet-select {
            font-size: 14px;
          }
          li {
            .selected {
              color: $black !important;
              font-family: 'Trueno';
              font-weight: 600;
            }
            .remove {
              line-height: 0;
              .remove-icon {
                transform: scale(.7);
                &:hover, &:focus {
                  background: $gray-400;
                  border-color: $gray-400;
                }
              }
            }
          }
          
        }
      }
    }
    .btn {
    background: transparent;
    color: $black;
      &:hover, &:focus {
        background: transparent;
      }
    }
  }
  .facets-collapse {
    .facet-limit:first-child {
      .card-header:first-child {
        border-top: 0;
      }
    }
  }
}

#content {
  li {
    padding-left: 25px;
    &::marker {
      color: $red;
      font-size: 1.2em;
    }
  }
  .tab-content li {
    padding-left: 0;
  }
}

.blacklight-home_pages {
  .items-block .items-col .box {
    margin-top: -3rem;
  }

  .openseadragon-container {
    .controls {
      display: flex;
      justify-content: flex-end;
      padding: 0;
    }
  }
  .openseadragon-canvas {
    border: 1px solid $gray-300 !important;
  }
}