// word-breaks the modal title
#blacklight-modal {
  .modal-dialog {
    width: 80%;
  }
  .modal-header {
    .modal-title {
      word-break: break-word;
    }
  }
  .modal-body pre {
    display: none;
  }
  @media (min-width: 992px) {
    .modal-lg, .modal-xl {
      max-width: 90%;
    }
  }
  @media (min-width: 576px) {
    .modal-xl {
      max-width: 90%;
    }
  }
}

.reindexingHistory, .pageHistory, .updatedItems {
  table.table-striped {
    td {
      word-wrap: break-word;
      font-size: smaller;
    }
  }
}

h2.page-header small {
  text-transform: capitalize;
  letter-spacing: normal;
  font-weight: 600;
}

// columns widths
.reindexingHistory {
  .col {
    &-date {
      flex: 0 0 22%;
      max-width: 22%;
    }
    &-user {
      flex: 0 0 27%;
      max-width: 27%;
    }
    &-setspec, &-status {
      flex: 0 0 12%;
      max-width: 12%;
    }
    &-items {
      flex: 0 0 10%;
      max-width: 10%;
    }
    &-time {
      flex: 0 0 17%;
      max-width: 17%;
    }
  }
  a {
    font-size: 16px;
  }
}

// spacing between sections 
// add class="hl__heading" to create space
.hl__heading {
  margin: 30px 0 45px;
}
