// browse cards and layout on browse landing page
// card styling on other pages in _featured_browse_categories_block.scss file
.browse-landing  {
  .image-overlay {
    border: 0;
    border-radius: 0;
  }
  .text-overlay {
    display: flex;
    align-items: flex-end;
    background-image: linear-gradient(180deg, rgba(64, 64, 64, 0) 0%, #1E1E1E 100%);
    &:hover {
      background: none;
    }
    .browse-category-title {
      text-align: start;
      line-height: 32px;
      text-shadow: none;
      letter-spacing: 1px;
      margin-bottom: 0;
      top: unset;
      transform: unset;
      .title {
        font-size: 32px;
        color: $white;
        text-transform: none;
      }
      .item-count, .category-subtitle {
        text-transform: none;
        font-size: 18px;
        font-weight: 400;
        margin-top: 0;
        letter-spacing: 0;
        line-height: 22px;
        color: $white;
      }
      .category-subtitle {
        font-family: Lora, Georgia, serif;
        font-style: italic;
        font-size: 22px;
        margin-bottom: 8px;
      }
    }
  }
  a:hover, a:focus {
    .text-overlay {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.3) 100%);
    }
  }

  .long-description-text {
    margin: 40px 0;
    width: 40em;
  }
}

// searchbox layout on browse page
form.browse-search-form {
  .form-group {
    align-items: center;
    justify-content: center;
    #browse-search {
      left: 0;
      max-height: 45px;
      background: $gray-600;
      border-color: $gray-600;
      &:hover, &:focus {
        background: $gray-700;
        border-color: $gray-700;
      }
    }
  }
}

// styling of exhibit subpages
.blacklight-feature_pages {
  .category-subtitle {
    font-family: Lora, Georgia, serif;
    font-style: italic;
    font-size: 18px;
    font-weight: 700;
  }
}

.blacklight-feature_pages-show,
.blacklight-about_pages-show, 
.blacklight-browse-show, 
.blacklight-catalog-show {
  #main-container {
    margin-top: 1rem;
    .st__content-block--text {
      margin-bottom: 2rem
    }
    .page-title {
      font-weight: 700;
      font-size: 32px;
      text-transform: uppercase;
      letter-spacing: 2.4px;
      line-height: 42px;
      margin-bottom: 20px;
    }

    h2 {
      .item-count {
        font-family: Lora, Georgia, serif;
        font-style: italic;
        font-size: 26px;
        font-weight: 400;
        line-height: 1.54;
        letter-spacing: normal;
        text-transform: none;
      }
      .subtitle {
        font-family: Lora, Georgia, serif;
        font-style: italic;
        font-size: 26px;
        font-weight: 400;
        line-height: 1.54;
        letter-spacing: normal;
        text-transform: none;
        &::before {
          content: "";
          padding-right: 0;
        }
        .item-count::before {
          content: " \000B7 ";
          color: #6c757d;
          padding-right: 0.5rem;
          font-weight: 800;
        }
      }
    }

    #document .blacklight-exhibit_tags, .document .blacklight-exhibit_tags {
      a {
        font-family: "Trueno", sans-serif;
        transition: all 0.4s ease;
        font-size: 12px;
        line-height: 16px;
        padding: 5px 9px;
        border: 1px solid $black;
        color: $black;
        background-color: transparent;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1.17px;
        &:hover, &:focus, &.active  {
          border: 1px solid $gray-600;
          background-color: $gray-600;
          color: $white;
        }
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }

    .long-description-text {
      margin: unset;
      width: unset;
    }
    
    .very-long-description-text {
      width: auto;
    
      @media (min-width: breakpoint-min("md")) {
        column-gap: unset;
        column-width: unset;
      }
    }

    .spotlight-flexbox.browse-categories {
      justify-content: space-between;
    }

    // sidebar with light gray background
    .page-sidebar {
      .nav-heading.h4 {
        background-color: $gray-100;
        margin: 0;
        padding: 1.5rem 25px 0;
        border-bottom: 0 !important;
        + .sidenav {
          padding-top: 10px;
          padding-bottom: 20px;
        }
      }
      .sidenav {
        background-color: $gray-100;
        padding: 30px 25px 0;
        &.contacts {
          .contact-properties a {
            text-transform: none;
          }
        }
        li, li.nav-item {
          a, a.nav-link {
            color: $black;
            font-size: 16px;
            line-height: 28.5px;
            font-weight: 400;          
          }
          h2.h6 {
            font-size: 14px;
            letter-spacing: 1.17px;
            line-height: 19px;
            margin-bottom: 10px;
            a {
              font-size: 14px;
              letter-spacing: 1.17px;
              line-height: 19px;
              font-weight: 700;
              text-transform: uppercase;
            }
          }
          &.active {
            a.nav-link {
              border-color: rgba(30, 30, 30, 0.5);
            }
            h2.h6 {
              text-decoration: underline;
              text-decoration-thickness: 3px;
              text-decoration-color: rgba(30, 30, 30, 0.5);
            }
          }
          .subsection {
            margin-bottom: 40px;
            li {
              list-style: none;
              margin-left: 0;
              &.active {
                font-family: "Trueno", sans-serif;
                font-size: 16px;
                line-height: 28.5px;
                text-decoration: underline;
                text-decoration-thickness: 3px;
                text-decoration-color: rgba(30, 30, 30, 0.5);
              }
            }
          }
        }
      }
    }
  }
}

// exhibit widgets
.content-block {
  // item grid widget
  &.item-grid-block {
    img.img-thumbnail {
      border: none;
    }
  }
  // search results widget
  #sortAndPerPage {
    padding-bottom: 20px;
    .view-type {
      a.btn {
        padding: 3.5px 9px;
      }
    }
  }
}
