@import 'harvard-bootstrap';

.documents-gallery {
  .document {
    .document-thumbnail {
      padding: 0 5px;
      img {
        height: 180px;
        object-fit: cover;
        min-width: 100%;
        @media (max-width: 575px) {
          height: 300px;
        }
      }
    }
    .document-metadata {
      dt, dd {
        max-width: 100%;
        flex: 0 0 100%;
      }
    }
    .d-flex.flex-column.gallery-masonry-column.col-md-8.ml-md-3 {
      padding-right: 20px;
      padding-left: 20px;
      padding-top: 10px;
    }
  }
}

.documents-masonry, .documents-gallery {
  .document {
    align-content: flex-start;
    flex-direction: row !important;
    .gallery-masonry-column {
      flex: 0 0 100%;
      max-width: 100%;
      margin-left: 0 !important;
      height: fit-content;
    }
  }
}

.documents-masonry {
  article.document.d-flex.flex-column.flex-md-row {
    .document-metadata {
      display: none;
    }
    .masonry-title {
      position: absolute;
      top: 5px;
      left: 5px;
      max-width: 180px;
      .documentHeader {
        opacity: 0;
      }
    }
  }
  article.document.d-flex.flex-column.flex-md-row:hover .documentHeader {
    opacity: 100%;
    transition: .2s ease-in-out;
  }
  .d-flex.flex-column.ml-3.w-100 {
    position: absolute;
    max-width: 180px;
    margin-left: 0 !important;
    padding: 10px;
  }
  .document-thumbnail {
    width: 180px;
  }
  .document-title-heading a {
    text-shadow: 1px 1px 0 $black;
    color: $white;
  }
}