.blacklight-catalog-show {
  .constraints-container#appliedParams {
    display: block;
    margin-bottom: 0 !important;
    .btn-outline-secondary {
      text-align: left;
      border-radius: 0;
    }
  }
  .pagination-search-widgets {
    padding-top: 0;
    .page-links {
      font-family: "Trueno", sans-serif;
      font-size: 15px;
      line-height: 19px;
    }
  }
  .document {
    h1 {
      display: none;
    }

    .sidebar {
      padding: 50px 20px;
      .sidebar-container {
        border: 1px solid $gray-300;
        margin: 20px 0 !important;
        padding: 40px !important;
        font-size: 15px;

        h2.h5 {
          font-size: 18px;
          letter-spacing: 1.5px;
        }
        dl dd {
          margin-bottom: 0;
          line-height: 32px;
        }
        a {
          font-size: 15px;
          font-weight: 500;
        }
        .permalink {
          line-height: 32px;
          svg {
            margin-top: -6px;
          }
        }
        .contacts {
          li {
            padding-left: 0 !important;
          }
          .contact-properties {
            font-family: Trueno, sans-serif;
            div {
              word-break: break-word;
            }
          }
        }
        
      }
      #tools {
        #dl-dropdown {
          &.btn-group {
            display: block;
          }
          > button {
            padding: 5px 9px;
            width: 100%;
            max-width: 361px;
            min-width: 258px;
            margin-bottom: 10px;
          }
        }
        .dropdown-menu {
          border: 1px solid rgba(0, 0, 0, 0.15);
          width: 100%;
          max-width: 361px;
          min-width: 258px;
          li {
            padding-left: 0;
          }
          a {
            display: block;
            color: $black;
            padding: 8px 20px 6px;
            border-bottom: 0;
            &:hover, &:focus {
              background: #f3f3f3;
            }
          }
          &.sequence-options {
            padding: 15px;
            font-family: Trueno, sans-serif;
            font-size: 15px;
            min-width: 258px;
            input {
              border-radius: 4px;
              border: 1px solid #d8d8d8;
              padding-left: 4px;
              margin-bottom: 10px;
            }
            button {
              background: transparent;
              color: $blue;
              border: 0;
              border-bottom: 3px solid transparent;
              padding: 0;
              width: auto;
              transition: border 0.28s cubic-bezier(0.28, 1.08, 1, 0.96);
              &:hover, &:focus {
                border-color: rgba(5, 121, 184, 0.3);
              }
              svg {
                fill: $blue;
                height: 15px;
                width: 14px;
                margin-top: -5px;
              }
            }
            #email_text_form {
              font-weight: 300;
              line-height: 22px;
              padding-bottom: 10px;
            }
            #email_field {
              line-height: 28px;
              width: 100%;
              margin-top: 10px;
            }
            #invalid_email_text, #incorrect_page_range {
              color: $red;
              line-height: 22px;
              margin-bottom: 10px;
            }
          }
        }
        dl dt {
          border-top: 2px dotted $gray-500;
          color: $gray-600;
          font-family: "Trueno", sans-serif;
          font-size: 14px;
          letter-spacing: 1.5px;
          margin: 0;
          padding: 30px 0 10px;
          margin-top: 30px;
          text-transform: uppercase;
        }
        .dl-iiif svg {
          height: 20px;
          width: 30px;
          opacity: 0.7;
        }
      }
    }

    dl.document-metadata {
      width: unset;
      padding: 50px 20px;

      @media (min-width: 971px) {
        &.row {
          width: unset;
        }
      }
  
      .field-button {
        letter-spacing: 1px;
        font-size: 16px;
        text-transform: uppercase;
        color: $black;
        font-weight: bold;
        border: none;
        background-color: transparent;
        padding: 0;
        direction: rtl;
        &::after {
          transform: scale(.75);
          color: $gray-600;
        }
      }
      .dropdown-toggle[aria-expanded="true"]::after {
        transform: scaleY(-1) scale(.75);
      }

      
      dt {
        font-weight: bold;
        &::after {
          display: none;
        }
        &.mobile-fields {
          border-top: 1px solid #c0c0c0;
          border-bottom: 0;
          margin-top: 20px;
          padding: 30px 0 10px;

          &.blacklight-spotlight_upload_full_title_tesim {
            border-top: 0;
            margin-top: 0;
            padding-top: 0;
          }
        }
        @media (max-width: 780px) {
          border-bottom: 1px solid #c0c0c0;
        }
      }

      dd {
        @media (min-width: 768px) {
          padding-left: 2rem;
          padding-top: 30px;
        }
        &.mobile-fields {
          border-bottom: 0;
          padding: 0 20px 10px;
        }
      }
      
      dd.blacklight-spotlight_upload_full_title_tesim {
        font-size: 24px;
        font-weight: bold;
        @media (max-width: 767px) {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    .btn.btn-primary.float-right {
      margin: 1rem 0 0 auto;
    }

    .iframe-wrapper {
      margin-top: 1em;
      .open-mirador {
        text-align: center;
        margin-top: 10px;
        a {
          font-size: 15px;
          font-weight: 500;
        }
      }
    }

    .osd-toolbar .pagination {
      border-bottom: 0;
    }

    .openseadragon-container.col-md-6 {
      margin-top: 1rem;
      .controls {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0;
      }
      .openseadragon-viewer {
        border: 1px solid $gray-300;
      }
    }

    @media (min-width: 768px) {
      .openseadragon-container.col-md-6 {
        flex-basis: 0;
        flex-grow: 1;
        flex: unset;
        max-width: unset;
      }
    }
  }
}

.blacklight-catalog-show {
  .document dl.document-metadata {
    dd, dt {
      white-space: normal;
    }
  }
}

.blacklight-catalog-edit {
  form + .row {
    display: block;
    .dl-invert {
      dt {
        color: $black;
        font-family: "Trueno", sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
        margin-bottom: 20px;
      }
      dd {
        font-size: 15px;
        margin-bottom: 20px;
        a {
          font-size: 15px;
        }
      }
    }
  }
  .sidebar {
    display: none;
  }
  .field-button {
    padding: 0;
    border: none;
    background-color: transparent;
    direction: rtl;
    &::after {
      transform: scale(.75);
      color: $gray-600;
    }
  }
}
