//the following 3 styles for html, and #main-container make the footer stick to the bottom & not cover content
html {
  min-height: 100%;
  position: relative;
}
body {
  font-family: Lora, Georgia, serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 19px;
  @media (max-width: 767px) {
    font-size: 17px
  }
  a {
    font-size: 19px;
    @media (max-width: 767px) {
      font-size: 17px
    }
  }

  #main-container {
    flex-grow: 1;
    .nav.contacts, .dl-more-details {
      margin-bottom: 0
    }
  }
  @media (min-width: 1200px){
    #main-container {
      width: 1170px;
    }
  }
  @media (min-width: 1280px){
    #main-container, .container {
      width: 100%;
      max-width: 1450px;
    }
  }
  h1, .h1 {
    font-size: 60px;
    line-height: 74px;
    @media(max-width: 767px) {
      font-size: 32px;
      line-height: 40px;
    }
  }
}
.region.hl__footer {
  position: unset;
}

// styles the exhibit tags on the home page
.nav.nav-pills.tags {
  .nav-item {
    margin: 0 10px;
    margin-bottom: 10px;
    border-radius: 4px;

    .nav-link {
      transition: all 0.4s ease;
      font-size: 12px;
      line-height: 16px;
      padding: 5px 9px;
      border: 1px solid $black;
      color: $black;
      background-color: transparent;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1.17px;

      &:hover, &:focus, &.active  {
        border: 1px solid $gray-600;
        background-color: $gray-600;
        color: $white;
      }
    }
  }
}


// child theme header
.topbar.navbar {
  padding: 0;
  line-height: 1em;

  #user-util-collapse {
    min-height: 60px;

    .hl__headerLogo {
      padding: 10px 20px;

      a {
        border-bottom: 3px solid transparent;
      }
    }

    .hl__headerLogo + ul.navbar-nav {
      padding: 10px 20px;
      padding-top: 0;

      @media (min-width: 768px) {
        align-items: center;
        padding: 0;
        padding-right: 20px;
      }

      a {
        margin: 0;
        letter-spacing: normal;
      }
    }
  }
  .harvard-mobile-logo {
    background-color: $black;

    .logo-shield {
      max-height: 40px;
    }
  }

  .site-title-nav {
    padding: 0;
  }
  a {
    color: unset;
    border: 0;

    &:hover {
      border-color: transparent;
    }
  }
}

.dropdown-item {
  &.active, &:active, &:hover, &:focus {
    color: $black;
    background-color: $gray-100;
  }
}


@media (min-width: 768px) {
  .hl__header-child__title {
    width: 100%;
  }
}


// hamburger icon
.navbar-dark .navbar-toggler {
  color: white !important;
  border-color: transparent;
}

// dark navbar links
.navbar-dark .navbar-nav .nav-link,
.image-masthead .exhibit-navbar .navbar-nav .nav-link {
  color: white;
  border-bottom: 3px solid transparent;

  &:hover, &:focus {
    color: white;
    border-color: rgba(255,255,255,0.3)
  }
}
// white toggle icon
.navbar-dark .navbar-toggler-icon,
.image-masthead .exhibit-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

// dropdown menu
.show.dropdown-menu,
.twitter-typeahead .show.tt-menu {
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.hl__header-child .show.dropdown-menu {
  top: 25px;
  left: -60px;
  right: 0;
  padding: 10px 0;
}

// homepage hero and title
.masthead {
  color: $gray-900;
  border-bottom: 0;
  margin-bottom: 0.4rem;
    .site-title-container {
      max-height: unset;  
      
      .site-title.h1 {
        color: $black;
        font-family: "Trueno", sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 1.23;
        margin-bottom: 15px;

        @media (min-width: 621px) {
          font-size: 42px;
        }
      
        @media (min-width: 781px) {
          font-size: 50px;
        }
      }
      small {
        color: $black;
        font-family: Lora, Georgia, serif;
        font-size: 22px;
        font-style: italic;
        line-height: 1.54;
        padding: 0;
      
        @media (min-width: 621px) {
          font-size: 24px;
        }
      
        @media (min-width: 781px) {
          font-size: 26px;
        }
      }
      

      .site-title-wrapper {
        white-space: normal;
        text-align: center;
        margin-top: 60px;
        padding-bottom: 30px;
      }
  }
}

.exhibit-card-container {
  position: relative;
  /* For the Polyfill */
  --css-contain: layout inline-size;

  .exhibit-card-img {
    display: block;
    width: 100%;
    height: auto;
  }

  .exhibit-card-title {
    font-family: "Trueno", sans-serif;
    position: absolute;
    color: $white;
    font-size: 26px;
    line-height: 1.3125;
    text-transform: none;
    letter-spacing: normal;
    bottom: 0;
  }

  .exhibit-card-overlay-description, 
  .exhibit-card-overlay-title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .8s ease;
  }
  
  .exhibit-card-overlay-description {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
  }

  .exhibit-card-overlay-title {
    background: linear-gradient(#00000014, #000000b6);
    opacity: 1;
  }
  .description {
    font-family: Lora, Georgia, serif;
    font-weight: 400;
    color: $white;
    font-size: 17px;
    font-style: italic;
    position: absolute;
    width: inherit;
    bottom: 0;
    margin-bottom: 1.5rem;
  }


  &:hover .exhibit-card-overlay-description {
    opacity: 1;
  }

  &:hover .exhibit-card-title {
    opacity: 0;
  }

  /* For the Polyfill */
  @media --css-container and (max-width: 290px) {
    .description {
      font-size: 13px;
    }
    .exhibit-card-title {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

// give main container content some space above
#main-container {
  padding-top: 40px;
}

// login, forgot password, sign up pages
.blacklight-sessions-new,
.blacklight-passwords-new,
.blacklight-registrations-new {
  #main-container {
    padding-top: 40px !important;
    width: auto;

    form {
      .field {
        margin-bottom: 1em;

        // pulling these styles from bootstrap .form-control class (which isn't given to input fields here)
        input:not(#user_remember_me) {
          display: block;
          width: 320px;
          height: 45px;
          padding: 0.75rem 0.75rem;
          font-family: Trueno, sans-serif;
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.5;
          color: #6c6c6c;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #afafaf;
          border-radius: 4px;
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

          &::-ms-expand {
            background-color: transparent;
            border: 0; 
          }
          &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #6c6c6c; 
          }
          &:focus {
            color: #6c6c6c;
            background-color: #fff;
            border-color: #43b9fa;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(5, 121, 184, 0.25); 
          }
          &::placeholder {
            color: #6c6c6c;
            opacity: 1; 
          }
          &:disabled, &[readonly] {
            background-color: #dfdfdf;
            opacity: 1; 
          }

          @media (prefers-reduced-motion: reduce) {
            transition: none; 
          }
        }
      }
      .actions {
        margin-bottom: 1em;
      }
      #user_remember_me {
        height: 19px;
        + label {
          margin-bottom: 0;
        }
      }
    }
  }
}

// add more space below alert boxes
.alert, .empty-page-block {
  margin: 2em 0;

  &.alert-danger {
    a:not(.btn) {
      color: $black;
  
      &:hover, &:focus {
        border-bottom-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}
.alert {
  font-family: "Trueno", sans-serif;
}
.empty-page-block {
  padding: 40px;
}

// edit widget blocks - icons on right
.st-block__ui {
  a {
    border: none;
  }
}

// sidebar styles (logged in state, admin pages)
#sidebar {
  .nav-link {
    display: inline;
    padding: 0;
    letter-spacing: normal;
    font-size: 16px;
    line-height: 32px;
  }
  .nav-pills .btn {
    margin: 1rem 0;
  }

  #admin_role_toggle .dropdown .dropdown-menu {
    width: 200px;
    border-color: #AFAFAF;
  
    a {
      font-size: 16px;
    }
  }

  .nav-heading {
    font-size: 21px;
    line-height: 30px;
    padding: 0;
    font-weight: 700;
    letter-spacing: 1.58px;
    border: none !important;
   }
   h3.nav-heading::before {
    background-image: linear-gradient(90deg, #6c6c6c 40%, rgba(255, 255, 255, 0) 20%), linear-gradient(90deg, #6c6c6c 40%, rgba(255, 255, 255, 0) 20%);
    background-position: top;
    background-repeat: repeat-x;
    background-size: 4px 1px;
    border: none;
    content: "";
    display: block;
    height: 1px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
}

// external link style
.hl__external-link {
  white-space: nowrap;

  &::after {
    content: "";
    width: 13px;
    height: 13px;
    margin-left: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15' height='15' viewBox='0 0 15 15'%3E%3Cdefs%3E%3Cpath id='fwuua' d='M999.33 1716.33v-5.83h1.67v5.83c0 .92-.75 1.67-1.67 1.67h-11.66c-.93 0-1.67-.75-1.67-1.67v-11.66c0-.92.74-1.67 1.67-1.67h5.83v1.67h-5.83v11.66zm-4.15-13.33h5.82v5.82h-1.66v-2.99l-8.17 8.17-1.17-1.17 8.17-8.17h-2.99z'%3E%3C/path%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-986 -1703)'%3E%3Cuse fill='%230579b8' xlink:href='%23fwuua'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
}

// _curation.scss
h1,h2,h3,h4,h5,h6 {
  & + .instructions {
    border-top: 0;
    padding-top: 0;
  }
}

// covers many of the view * edit * delete links in tables
.page-links {
  padding: 0;
  a { 
    font-size: 15px;
    line-height: 19px;
    font-weight: normal;
  }
}

.card-header {
  background-color: $gray-100;

  .form-check-inline {
    margin-top: 0;
    vertical-align: revert;
  }
}

[data-in-place-edit-target]:hover:after {
  color: $gray-800;
}

.facet-metadata {
  align-self: center;
  font-size: 15px;
  line-height: 19px;
}
// end _curation.scss edits

// _nestable.scss
.dd {
  font-size: 19px;
}
.dd3 {
  &-content {
    border-radius: $border-radius;

    .card-header[data-behavior="restore-default"] {
      min-height: auto;
    }
  }
  &-handle {
    border: none;
    border-radius: 4px 0 0 4px;
    background: $gray-600;
    &::before {
      top: 10px;
    }
    &:hover, &:focus {
      background: $gray-700;
    }
  }
}

// end _nestable.scss edits


// _blacklight_configuration.scss
.dd-item td {
  &:first-child {
    .edit-in-place {
      &:hover, &:focus {
        @include edit-in-place-highlighting;
      }
    }
    &:hover {
      background: transparent;
    }
    
    .handle-wrap {
      margin-top: 0;
      font-size: 19px; // increases size of pencil icon
      font-weight: 600; // makes pencil icon bolder
      white-space: nowrap; // prevents icon from wrapping onto its own line

      &:hover, &:focus {
        &::after {
          content: "";
        }
      }

      a {
        &:hover, &:focus {
          &::after {
            color: $gray-800;
            content: "\270f";
            margin-left: 6px;
            display: inline-block;
          }
        }
      }
    }

    .dd3-handle:before {
      top: 10px;
    }
  }
}
.blacklight-sites-edit_exhibits {
  .dd-item td:first-child .handle-wrap {
    white-space: normal;
    a {
      &:hover, &:focus {
        &::after {
          content: "";
          margin-left: 0;
        }
      }
    }
  }
}

#nested-fields {
  .metadata-select {
    padding: 5px 9px;
  }
}
// end _blacklight_configuration.scss edits


// text in those moveable lists
table.table h4 {
	text-transform: none;
	letter-spacing: normal;
	line-height: 25px;
	font-weight: 600;
	font-size: 19px !important;
}

.dd-list {
  .card-header {
    padding: 0.5rem 1rem;
  }
  .card-title {
    text-transform: none;
    letter-spacing: normal;
    line-height: 25px;
    font-weight: 600;
    font-size: 19px !important;
    margin-bottom: 0;
  }
  .card-text, .card-text a {
    font-size: 15px;
    line-height: 19px;
    font-weight: normal;
  }
}

// _collapse_toggle.scss
// Rotate collapse-chevron element (has a â¯ in it)
// with the previous siblings collapsed status
.btn.collapse-toggle {
  & + .collapse-chevron {
    transform: none;
    width: auto;
    height: 7px;
    color: $gray-800;
    border-left: 0.425em solid transparent;
    border-right: 0.425em solid transparent;
    border-bottom: 0.5em solid currentColor;
    float: right;
    position: relative;
    top: 8px;
    font-size: 14px;
    transition: transform 0.5s ease;
    margin-left: 9px;
  }
  &.collapsed + .collapse-chevron {
    transform: scaleY(-1);
  }
}
// end _collapse-chevron.scss edits


// curation.scss
table#exhibit-specific-fields {
  .field-label {
    font-size: 19px;
    font-weight: 600;
  }
  .actions a {
    padding: 0;
    font-size: 15px;
    line-height: 19px;
    font-weight: normal;
  }
}
.card-header.item-grid {
  .remove {
    width: auto;
    a {
      font-size: 15px;
    }
  }
}
// Curation: Feature Pages
.home_page {
  .card .card-title {
    text-transform: none;
    letter-spacing: normal;
    line-height: 25px;
    font-weight: 600;
    font-size: 19px;
  }
  .page-links {
    align-self: center;
  }
}
// end curation.scss edits

// utilities.scss
// "Cancel" links styled as buttons in admin editing forms *change stylistically to match .btn.btn-default styling
.btn-sizing {
  padding: 0;
  margin: 12px 23px;
  border-radius: 0;
}
// end utilities.scss edits

// Make "Import Data" button look connected to the "browse file" input in Exhibit Dashboard -> General -> Import Data tab
@media(min-width: 481px){
  .blacklight-exhibits-edit #import {
    input#file {
      border-radius: 4px 0 0 4px;
    }
    .btn {
      border-radius: 0 4px 4px 0;
      border: 1px solid $blue;
      &:hover, &:focus {
        border-color: $indigo;
      }
    }
  }
}

// Configuration: Search
// Give more spacing below the "Add new field" button to prevent from looking like it's just misaligned with the "Save changes" button
.blacklight-search_configurations-edit {
  #exhibit-specific-fields + .btn {
    margin-bottom: 50px;
  }
}

// Configuration: Search
.dd-list {
  // Field-based search card header - style to match other similar checkbox cards
  .panel-content, .panel {
    .card-title input[type="checkbox"] {
      margin-right: 0.75rem;
    }
  }
}
// End Configuration: Search


// _catalog.scss
// center checkbox toggles with its table column
#documents.table {
  .checkbox.toggle_visibility {
    text-align: center;
  }
}
// end _catalog.scss edits


// Configuration: Items
#sortAndPerPage.sort-pagination .search-widgets .per_page-dropdown#per_page-dropdown button {
  line-height: 21px;
  padding: 5px 9px;
  margin-top: 6px;
  color: $black;
  border-color: $black;

  &:hover, &:focus {
    background: $gray-600;
    border: 1px solid $gray-600;
    color: $white;
  }

  &:active {
    color: $white;
    background-color: $black;
    border-color: $black;
  }
}
// End Configuration: Items

// Curation: Feature pages
// _pages.scss
#nested-pages {
  .page-links {
    align-self: center;
  }
}
// End Configuration: Feature pages

// Curation: Browse pages 
// add border-right back to "Search parameters" field in edit mode
.blacklight-searches-edit {
  .appliedParams {
    .constraint-value, .constraint-value:hover, .constraint-value:focus {
      border-right: 1px solid;
    }
  }
}
// End Curation: Browse pages

// Curation: About pages
.contacts_admin {
  .contact-properties div {
    font-size: 15px;

    a {
      font-size: 15px;
      font-weight: normal;
    }
    
    &.name {
      font-size: 19px;
      font-weight: 600;
      line-height: 25px;
    }
  }
}
// give "cancel" button spacing like buttons do
.blacklight-contacts-edit {
  .primary-actions a {
    margin: 12px 23px;
  }
}
// End Curation: About pages

// Curation: Bulk updates pages
.blacklight-bulk_updates-edit {
  #download {
    h2 {
      margin-top: 30px;
    }
  }
}
// End Curation: Bulk updates pages

// Uploaded item row widget: multi_up_item_grid.scss
.spotlight-flexbox {
  .box {
    .img-thumbnail {
      padding: 0;
      border: none;
      border-radius: 0;
    }
    .caption {
      margin-top: 5px;
      color: $gray-600;
      font-family: "Trueno", sans-serif;
      font-size: 14px;
      font-weight: 200;
      font-style: normal;
    }
    button.zpr-link {
      background-color: $white;
      color: $black;
      border-color: $black;
      padding: 5px 9px;
      font-size: 12px;
      line-height: 16px;
      &:hover, &:focus {
        background-color: $gray-600;
        border-color: $gray-600;
        color: $white;
      }
    }
  }
}
// "view larger" modal window
#osd-modal-container {
  #osd-div {
    background-color: transparent;
  }
}
// End multi_up_item_grid.scss

// Homepage blue box CTAs
/* fancy link cards (related services & tools) */
.hl__fancy-link {
  background-color: #fafafa;
  display: flex;
    align-items: center;
    justify-content: space-between;
  padding: 30px;
  position: relative;
  text-decoration: none;
  border-bottom: none;
  &:before {
    background-image: linear-gradient(-45deg, #0579b8 0%, #2a5280 100%);
    content: "";
    height: 100%;
    opacity: 1;
    position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    transition: opacity .5s ease-in;
    width: 100%;
  }
  &__title {
    color: white;
    font-family: "Trueno", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    text-transform: none;
    position: relative;
    transition: color .5s ease-in;
    z-index: 3;
    margin-bottom: 0.4em;
    letter-spacing: 0;
  }
  &__description {
    color: white;
    font-family: Lora,Georgia,serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 26px;
    position: relative;
    transition: color .5s ease-in;
  }
  &:focus, &:hover {
    border-bottom: none;
    .hl__fancy-link__title {
      color: #0579b8;
    }
    .hl__fancy-link__description {
      color: #1e1e1e;
    }
    &:before {
      opacity: 0;
    }
  }
}

/* grid layouts */
.hl__fancy-link-list__grid {
  display: flex;
  flex-wrap: wrap;
  @media (min-width: 621px) {
    margin-left: -20px;
  }
  @media (min-width: 1171px) {
    margin-left: -30px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .hl__fancy-link {
    flex: none;
    margin-bottom: 20px;
    width: 100%;
    @media (min-width: 621px) {
      margin-left: 20px;
      width: calc(50% - 20px);
    }
    @media (min-width: 1171px) {
      margin-bottom: 30px;
      margin-left: 30px;
      width: calc(33.333% - 30px);
    }
  }
}

// have homepage collection cards spacing match with blue box ctas
.blacklight-exhibits-index {
  .tab-content {
    .row {
      margin-left: -10px;
      margin-right: -10px;
    }
    .col.mb-4 {
      padding: 0 10px;
      margin-bottom: 20px !important;
      @media (min-width: 1171px) {
        padding: 0 15px;
        margin-bottom: 30px !important;
      }
    }
  }
}
