<%# OVERRIDE from spotlight 3.3.0 to change bootstrap class for better responsiveness with harvard's landing page layout  %>

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
  <%= render collection: exhibits, partial: 'exhibit_card', as: 'exhibit' %>
</div>