// this is the Harvard exhibits NO THUMBNAIL & NO VIEWER theme
 
 @import 'harvard-bootstrap';
 @import 'harvard-patterns';

 @import 'blacklight_gallery.css.scss';
 @import 'blacklight_oembed.css.scss';
 @import 'blacklight.scss';
 @import 'openseadragon.css';
 @import 'spotlight.scss';


// hides view type toggles - only need list view displayed
.view-type {
  display: none;
} 

//  hides thumbnail image space and counter on list view
 #documents {
  .gallery-masonry-column,
  .document-counter {
    display: none;
  }

  .gallery-masonry-column {
    margin: 0 !important;
  }
}

// hides image containers on item detail pages
#document {
  .iframe-wrapper,
  .openseadragon-container {
    display: none;
  }
}