<%# OVERRIDE spotlight 3.0.3 to change span tags %>

<div class="title"><%= search.title %></div>
<% if search.subtitle.present? %><span class="subtitle"><%= search.subtitle %><% end %>
<small class="item-count"><%= t :'spotlight.browse.search.item_count', count: search.count %></small></span>